<div class="registry">
	<% if(!locals.user){ %>
	<form action="/registry" method="post">
		<label>
			<span>姓名</span>
			<input type="text" name="username"/>
		</label>
		<label>
			<span>登录名</span>
			<input type="text" name="loginname"/>
		</label>
		<label>
			<span>Email</span>
			<input type="text" name="email"/>
		</label>
		<label>
			<span>密码</span>
			<input type="password" name="password"/>
		</label>
		<label>
			<span>确认密码</span>
			<input type="password" name="confirmpass"/>
		</label>
		<label>
			<span>签名</span><br/>
			<textarea name="signature" cols="60" rows="6" class="offset"></textarea>
		</label>
		<input type="submit" value="注册" class="registryUser"/>
	</form>
	<% } %>
</div>