<div class="registry">
	<form action="/registry" method="post">
		<label>
			<span>姓名:</span>
			<input type="text" id="username"/>
		</label>
		<label>
			<span>登录名:</span>
			<input type="text" id="loginname"/>
		</label>
		<label>
			<span>Email:</span>
			<input type="text" id="email"/>
		</label>
		<label>
			<span>密码:</span>
			<input type="password" id="password"/>
		</label>
		<label>
			<span>确认密码:</span>
			<input type="password" id="confirmpass"/>
		</label>
		<label>
			<span>签名:</span><br/>
			<textarea id="signature" cols="60" rows="10"></textarea>
		</label>
		<input type="submit" value="注册" class="registryUser"/>
	</form>
</div>