<!-- 创建主题 -->
<div class="introBox">
	<a href="/topic/show" class="publishTopic">发表主题</a>
</div>
<!-- 默认sidebar -->
<div class="introBox">
	<p>[NC-EXAMPLE]使用koa重新实现的一个简单nodeclub, 具体使用了如下技术点:</p>
	<div class="fns">
		<span>mongoose数据存储</span>
		<span>koa-router处理路由</span>
		<span>koa-send控制静态文件访问</span>
		<span>koa-less使用less编译样式文件</span>
		<span>koa-ejs页面渲染</span>
		<span>koa-request-log记录请求日志</span>
		<span>koa-session控制用户登录</span>
		<span>koa-compress启用gzip压缩</span>
		<span>koa-etag~添加缓存功能</span>
		<span>mocha,chai单元测试</span>
	</div>
</div>